body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-image: url("Backgrounds/loa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.link{
    display: block;
    margin: 40px 40% 40px 40%;
    background-color: rgb(17, 17, 17);
    border: 1px solid rgb(255, 202, 87);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
} .link:hover {
    transform: scale(1.005);
}

#gameContainer {
    width: 30%;
    margin: auto;
    border-radius: 10px;
    box-shadow:
    -1px -1px 1px 1px #ffca57,
    1px 1px 1px 1px #ffca57;
    position: relative;
    padding: 20px;
    background: linear-gradient(to bottom, #100c24, #102434);
    margin-bottom: 40px;
    color: white;
}

table {
    max-width: 800px;
    border-spacing: 10px;
    table-layout: fixed;
    color: black;
    padding-bottom: 30px;
} td {
    border: 2px solid black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    width: 12.5%;
    min-width: 90px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90px;
    position: relative;
    z-index: 2;
} th {
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-bottom: 3px solid rgb(255, 255, 255);
    height: 50px;
    background-color: rgba(0, 0, 0, 0.582);
} .arrowIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    fill: rgb(255, 255, 255);
    opacity: 0.5;
    z-index: -1;
}

.suggestions {
    width: 300px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
    max-height: 350px;
    overflow-y: auto;
    z-index: 3;
} .suggestionItem {
    margin-top: -1px;
    display: flex;
    align-items: center;
    font-size: 24px;
    border: 1px solid rgb(255, 202, 87);
    background-color: rgb(17, 17, 17);
    /*Todo*/
    padding: 5px;
    color: white;
} .suggestionItem img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    /*margin-left: 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;*/
    border-radius: 7%;
} .suggestionItem:hover {
    background-color: rgb(44, 44, 44);
} .active {
    background-color: rgb(44, 44, 44);
}

.inputDiv {
    width: 300px;
    margin: auto;
    display: flex;
} .inputContent {
    padding-left: 15px;
    border: 1px solid rgb(255, 202, 87);
    width: 100%;
    height: 40px;
    background-color: rgb(24, 24, 24);
    color: white;
    outline: none;
    font-size: 20px;
    box-shadow: none;
} .inputSubmit {
    width: 70px;
    background-color: rgb(255, 202, 87);
    border: 1px solid rgb(255, 202, 87);
    color: rgb(0, 0, 0);
} .inputSubmit svg {
    width: 30px;
    height: 30px;
}

#guessImage img {
    width: 150px;
    height: 150px;
}

#locationImage {
    width: 1280px;
    height: 720px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:
        -1px -1px 1px 1px #ffca57,
        1px 1px 1px 1px #ffca57;
} #locationImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#responseContainer {
    width: 30%;
    max-width: 400px;
    height: 120%;
    margin: auto;
    border-radius: 10px;
    box-shadow:
        -1px -1px 1px 1px #ffca57,
        1px 1px 1px 1px #ffca57;
    position: relative;
    padding: 20px;
    background: linear-gradient(to bottom, #100c24, #102434);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
} #responseMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 20px 0 40px 0;
} #responseMessage img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
} #responseMessageText {
    display: flex;
    flex-direction: column;
} #responseMessageText h2{
    margin: 0px;
} #responseMessageText p{
    margin: 0px;
}

#continentResponseContainer {
    width: 1400px;
    margin: auto;
    border-radius: 10px;
    box-shadow:
    -1px -1px 1px 1px #ffca57,
    1px 1px 1px 1px #ffca57;
    position: relative;
    padding: 20px;
    background: linear-gradient(to bottom, #100c24, #102434);
    color: white;
} #continentResponseContainer img {
    margin-top: 40px;
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow:
        -1px -1px 1px 1px #ffca57,
        1px 1px 1px 1px #ffca57;
}

#areaResponseContainer {
    width: 1400px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow:
    -1px -1px 1px 1px #ffca57,
    1px 1px 1px 1px #ffca57;
    position: relative;
    padding: 20px;
    background: linear-gradient(to bottom, #100c24, #102434);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#geoGuessContainer {
    width: 900px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
} #geoGuessMap img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow:
        -1px -1px 1px 1px #ffca57,
        1px 1px 1px 1px #ffca57;
} .borderless {
    border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;
}

.button {
    background-color: rgb(17, 17, 17);
    color: white;
    width: 100px;
    height: 50px;
    border: 1px solid rgb(255, 202, 87);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 20px 0 20px;
    vertical-align: top;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} .popup {
    position: relative;
    padding-bottom: 20px;
    border-radius: 10px;
    min-width: 350px;
    background-color: rgb(17, 17, 17);
} .popup h1 {
    margin: 5px 0 0 20px;
    text-align: left;
} .underline {
    border: none;
    height: 2px;
    background-color: white;
}.popup p {
    margin: 20px 0 35px 20px;
    text-align: left;
} .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 10px 20px;
} .switch input {
    opacity: 0;
    width: 0;
    height: 0;
} .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
} .slider:before {
    position: absolute;
    content: "";
    height: 19px; width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(17, 17, 17);
    transition: .2s;
    border-radius: 50%;
} input:checked + .slider {
    background-color: rgb(255, 202, 87);
} input:checked + .slider:before {
    transform: translateX(24px);
} .closeButton {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 35px;
    background-color: #ff4444;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} .toggle-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    margin: auto;
}